.tablecontainer{
    overflow:hidden;
}
table{
    width: 100%;
}
.mat-form-field{
    font-size: 14px;
    width:50%;
}
td, th{
    width:10%;
}
.addCategory{
    margin-top: 8px;
    margin-right:10px;
    float:right;
}
.img{
    width:25px;
    height:25px;
}
.spinnerwrapper{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0,10);
    display: flex;
    align-items: center;
    justify-content: center;
}